body {
    background-color: #edebeb;
    font-family: Helvetica;
    color: #2A2A2E;
    font-size: 15px;
}

article {
    padding: 0 0 0 0;
    display: block;
    border-bottom-color: #cfcfcf;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

footer {
    display: table;
    position: fixed;
    bottom: 5%;
    text-align: center;
}

main {
    position: static;
    padding: 0 3% 0 3%;
    margin: 0 25% 0 0;
}

.left_bar {
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: hidden;
    background-color: #2A2A2E;
    text-align: center;
}

.left_bar div img {
    border-radius: 100%;
}

h1 {
    font-size: 55px;
    border-bottom: solid 3px;
    position: relative;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

h1>small {
    font-size: 20px;
}

h2 {
    font-size: 15px;
    margin-top: 25px;
}

h3 {
    margin: 0;
    padding: 0;
}

p {
    line-height: 30px;
}

ul {
    text-indent: 0px !important;
}

li {
    margin: 0 0 10px 0;
    line-height: 30px;
}

u {
    text-decoration: none;
    border-bottom: 1px solid grey;
}

a {
    text-decoration: none;
    color: #008fd5;
}

​ strong {
    font-size: 20px;
}

.links {
    list-style-type: none;
    margin: 25% 0 25% 0;
    padding: 0;
}

.links li {
    display: inline;
}

/* font awesome icons */

.fa {
    padding: 10px !important;
    /* Icon Size*/
    font-size: 30px !important;
    text-align: center;
    text-decoration: none;
    color: white;
    position: static;
}

.fa:hover {
    opacity: 0.7;
}

.photo {
    text-align: center;
}

.photo img {
    width: 75%;
    height: 75%;
    margin: 20px 0px 20px 0px;
}

img {
    max-width: 75%;
}

nav {
    text-align: center;
    font-size: .72em;
    padding: 14px 0;
}

nav a {
    text-decoration: none;
    color: #edebeb;
    display: block;
    padding: 15px 0 15px 0;
    border-top: solid #cfcfcf 1px;
    border-bottom: solid #cfcfcf 1px;
    letter-spacing: 2px;
    font-size: 16px;
}

nav a:first-child {
    border-top: solid #cfcfcf 2px;
}

nav a:last-child {
    border-bottom: solid #cfcfcf 2px;
}

nav a:hover {}

hvr {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvr:hover, .hvr:focus, .hvr:active {
    background-color: #990000;
    color: white;
}