/*
 * Globals
 */

@font-face {
  font-family: 'Product Sans1';
  src: url('Product Sans Regular.ttf')  format('truetype'); 
}
@font-face {
  font-family: 'Product Sans2';
  src: url('Product Sans Bold.ttf')  format('truetype'); 
}

/* Links */


a,
a:focus {
  color: #fff;
}

a:hover {
  color: #3aacff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #303336;
  font-family: 'Product Sans1', sans-serif;
  font-weight: 50;
  
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  margin: auto;
  color: #fff;
}

#time {
	color: white;
	font-size: 145px;
	padding-bottom: 50px;
	font-weight: 900;
	font-family: 'Product Sans2', sans-serif;
}
@media only screen and (max-width: 395px) {
  #time {
	font-size: 80px;
}
}
@media only screen and (max-width: 334px) {
  #time {
	font-size: 60px;
}
}

.cover-container {
  width: 82em;
}

.quicklinks {
	width: 100%;
	margin: auto 0;
}

button, input, optgroup, select, textarea {
    line-height: 2.2;
}

.search {
	margin-left: auto;
	margin-right: auto;
	max-width: 32em !important;
    height: 48px;
    border-radius: 50px 50px 50px 50px;
    background-color: #131313;
    border-color: #131313;
    outline: none;
    box-shadow: none;
    border-width: 0px;
	color: white;
	font-size: 20px;
	margin-bottom: 110px;
}

@media only screen and (max-width: 768px) {
  .search  {
    margin-bottom: 50px;
  }
  #time {
	padding-bottom: 30px;
}
}

input {
	width: 80%;
	background-color: transparent;
	margin-left: 20px;
	outline: none;
    border-width: 0px;
	color: white;
	font-size: 20px;
	font-family: 'Product Sans1', sans-serif;
	font-weight: 400;
	float: left;
}
button {
	width: 16%;
	height: 48px;
    background-color: transparent;
    outline: none;
    border-width: 0px;
	color: white;
	font-size: 20px;
	cursor: pointer;
	float:right;
}
@media only screen and (max-width: 585px) {
  button {
    width: 12%;
  }
}

@media only screen and (max-width: 330px) {
  button {
    width: 10%;
  }
}

@media only screen and (max-width: 284px) {
  button {
    width: 8%;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}

.divider {
	border-bottom: 1px solid white;
	margin-bottom: 30px;
}
.quicklinks {
	float:left;
}

.link a {
    line-height: 1.85rem;
}
.topic{
	float:left;
	margin-bottom: 40px;
}

.link {
    font-size: 0.9rem;
	margin-right: 5%;
	float:left;
}

.text {
	text-decoration: none;
	display: flex;
    position: relative;
	line-height: 2.1rem;
	margin-bottom: 15px;
	float:left;
    font-size: 0.9rem;
}
.text:active, .text:focus, .text:hover, .text:visited, .text {
	text-decoration: none;
	color: white;
}

@media only screen and (max-width: 355px) {
  .link {
    float: none;
  }
  .text {
    float: none;
  }
}

h3 {
	color: white;
	margin-bottom: 10px;
	text-align: left;
	font-size: 20px;
}
.dark-mode-h3 {
	color: #202124;
}


.box{
    display: flex;
    align-items: center;
    justify-content: center;
}